<div class="text-layout">
  <h1>Pipes no comunes</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</div>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset
      legend="i18nSelect Pipe"
      [toggleable]="true"
      [transitionOptions]="'300ms cubic-bezier(0.86, 0, 0.07, 1)'"
    >
      <p>
        Hola {{ nombre }}, es un placer
        {{ genero | i18nSelect: invitacionMapa }} a nuestro evento.
      </p>
      <button
        pButton
        pRipple
        type="button"
        label="Cambiar Persona"
        class="p-button-help"
        (click)="cambiarPersona()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset
      legend="i18nPlural Pipe"
      [toggleable]="true"
      transitionOptions="300ms cubic-bezier(0.86, 0, 0.07, 1)"
    >
      <p>
        Actualmente {{ clientes.length | i18nPlural: clientesMapa }} esperando.
      </p>
      <button
        pButton
        pRipple
        type="button"
        [label]="clientes.length > 0 ? 'Borrar Cliente' : 'Reiniciar'"
        class="p-button-danger"
        (click)="borrarPersona()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset
      legend="Slice Pipe"
      [toggleable]="true"
      transitionOptions="300ms cubic-bezier(0.86, 0, 0.07, 1)"
    >
      <b>Original:</b>
      <pre>{{ clientes }}</pre>

      <b>Slice: 0</b>
      <pre>{{ clientes | slice: 0 }}</pre>

      <b>Slice: 0:2</b>
      <pre>{{ clientes | slice: 0:2 }}</pre>

      <b>Slice: 2:3</b>
      <pre>{{ clientes | slice: 2:3 }}</pre>

      <b>Slice: 3:3</b>
      <pre>{{ clientes | slice: 3:3 }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset
      legend="Json Pipe"
      [toggleable]="true"
      transitionOptions="300ms cubic-bezier(0.86, 0, 0.07, 1)"
    >
      <pre>{{ heroes | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset
      legend="KeyValue Pipe"
      [toggleable]="true"
      transitionOptions="300ms cubic-bezier(0.86, 0, 0.07, 1)"
    >
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          <b>{{ item.key | titlecase }}:</b> {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset
      legend="Async Pipe"
      [toggleable]="true"
      transitionOptions="300ms cubic-bezier(0.86, 0, 0.07, 1)"
    >
      <ul>
        <li>
          <pre>{{ myObservable | async }}</pre>
        </li>
        <li *ngIf="!(valorPromesa | async)">
          <pre>Resolviendo promesa</pre>
        </li>
        <li *ngIf="(valorPromesa | async)">
          <pre>{{ valorPromesa | async }}</pre>
        </li>
      </ul>
    </p-fieldset>
  </div>
</div>
